{% extends 'app_general/components/base.html' %}

{% block content %}
<header class="h-96 flex content-center justify-center bg-imgae "
    style="background-image: url(media/shrimp_diseases_images/20190107shrinp.jpg); height: 500px; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
    <div class="w-100  text-white content-center text-center">
        <h1 class="text-5xl">การวิเคราะห์ปัจจัยการเลี้ยงกุ้งให้เติบโตและระบบติดตามการเจริญเติบโตของกุ้ง</h1>
        <!-- <p class="">afsdlkfgjaeprofgj;'dfjgg;oisthjgol;bindsfl;ignhso;itdnbo;rsitnbo;adiengoaifsng;lainj'</p> -->
        <div class="mt-6"></div>
        {% if user.is_authenticated %}
        <a href="{% url 'shrimpool_dashbord' user.id %}"
            class="w-20 content-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">เริ่มต้นใช้งาน</a>
        {% else %}
        <a href="{% url 'register' %}"
            class=" content-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">สมัครสมาชิก</a>
        {% endif %}
    </div>
</header>
<div class="bg-gray-200">
    <section class="service_section layout_padding b p-4 mx-auto max-w-screen-xl ">
    </section>
</div>
<div class="shrimppice h-80 flex content-center justify-center bg-gray-200 ">
    <div class=" mt-10 mr-96 mb-10 ">
        {% for price in shrimpprice %}
        <h2 class="mt-3">ราคากุ้งวันนี้ : วันที่ {{ price.date|date:"j N Y " }}<span id="datenow"></span></h2>
        <h3 class="mt-3 ml-3">กุ้งขาว (70 ตัว/กก.) :</h3>
        <p class="mt-3 ml-3">ราคาต่ำสุด / กก. : {{price.price_min}} <span id="price_min"></span> บาท</p>
        <p class="mt-3 ml-3">ราคาสูงสุด / กก. : {{ price.price_max }} <span id="price_max"></span>บาท</p>
        {% endfor %}
        <a href="{% url 'shrimpprice' %} "
            class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow mt-5">ดูราคากุ้งย้อนหลังรายวัน</a>
    </div>
    <div class="flex content-center shadow-2xl transition-transform transform hover:scale-110  ">
        <img src="media\extra\img27912.whqc_640x440q80.jpg" alt="" srcset="">
    </div>
</div>
<div class="bg-gray-200">
    <section class="service_section layout_padding b p-4 mx-auto max-w-screen-xl ">
    </section>
</div>
<div class="max-w-2xl mx-auto my-10">
    <p class="text-3xl">ตัวอย่างโรคกุ้ง</p>
    <div class="grid grid-cols-4 my-5">
        {% for diseases in disease %}
        {% if diseases.disease_image == "shrimp_diseases_images/โรคดวงขาว.jpg" %}
        <div class="col-span-2 justify-center">
            {% if diseases.disease_image %}
            <img src="{{ diseases.disease_image.url }}" alt="" class="w-52 h-52 rounded border border-black">
            {% else %}
            <span>Not Showing</span>
            {% endif %}
        </div>
        <div class="grid-rows-3 col-span-2">
            <p class="text-3xl">{{ diseases.disease_name }}</p>
            <p>อาการ : {{ diseases.disease_symptom }}</p>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="max-w-2xl mx-auto my-10">
    <p class="text-3xl">ตัวอย่างอาหารกุ้ง</p>
    <div class="grid grid-cols-2 my-5">
        <div>
            {% for foods in food %}
            {% if foods.food_image %}
            <p class="text-xl ml-5">{{ foods.food_name }}</p>
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for foods in food %}
            {% if foods.food_image == "shrimp_foods_images/navy.jpg" %}
            <img src="{{ foods.food_image.url }}" alt="" class="w-52  rounded ">
            {% else %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>
        function formatDate(date) {
            let d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        async function fetchShrimpPrices() {
            const today = new Date();
            const formattedDate = formatDate(today);
            const url = `https://dataapi.moc.go.th/gis-product-prices?product_id=P12004&from_date=${formattedDate}&to_date=${formattedDate}`;

            try {
                const response = await fetch(url);
                const data = await response.json();

                document.getElementById('price_min').innerText = data.price_min + ' บาท';
                document.getElementById('price_max').innerText = data.price_max + ' บาท';
                document.getElementById('datenow').innerText = formattedDate;
            } catch (error) {
                console.error('Failed to fetch data:', error);
            }
        }

        function scheduleFetch() {
            const now = new Date();
            const millisTill7AM = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 7, 0, 0, 0) - now;
            if (millisTill7AM < 0) {
                millisTill7AM += 86400000; // 24 hours in milliseconds
            }
            setTimeout(() => {
                fetchShrimpPrices();
                setInterval(fetchShrimpPrices, 86400000); // 24 hours in milliseconds
            }, millisTill7AM);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            scheduleFetch();
        });
    </script>
    {% endblock %}