{% extends 'app_general/components/base.html' %}

{% block content %}
<header class="h-96 flex content-center justify-center bg-imgae "
    style="background-image: url(media/shrimp_diseases_images/20190107shrinp.jpg); height: 500px; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
    <div class="w-100  text-white content-center text-center">
        <h1 class="text-4xl mt-5">การวิเคราะห์ปัจจัยการเลี้ยงกุ้งให้เติบโตและระบบติดตามการเจริญเติบโตของกุ้ง</h1>
        <p class="mt-5">ยินดีต้อนรับสู่แหล่งข้อมูลครบวงจรสำหรับการเลี้ยงกุ้ง! <br>
            หน้าเว็บนี้รวบรวมข้อมูลและเทคโนโลยีที่จำเป็นในการวิเคราะห์ปัจจัยต่าง ๆ <br>ที่ส่งผลต่อการเติบโตของกุ้ง
            รวมถึงการจัดการระบบติดตามการเจริญเติบโตของกุ้งเพื่อเพิ่มประสิทธิภาพการผลิต</p>
        <div class="mt-6"></div>
        {% if user.is_authenticated %}
        <a href="{% url 'shrimpool_dashbord' user.id %}"
            class="w-20 content-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">เริ่มต้นใช้งาน</a>
        {% else %}
        <a href="#" onclick="showRegisterForm()"
            class=" content-center bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">สมัครสมาชิก</a>
        {% endif %}
    </div>
</header>
<div class="bg-gray-200">
    <section class="service_section layout_padding b p-4 mx-auto max-w-screen-xl ">
    </section>
</div>

<div class="shrimppice h-80 flex content-center justify-center bg-gray-200 ">
    <div class=" mt-10 mr-96 mb-10 ">
        {% for price in shrimpprice %}
        <h2 class="mt-3">ราคากุ้งวันนี้ : วันที่ {{ price.date|date:"j N Y "}}<span id="datenow"></span></h2>
        <h3 class="mt-3 ml-3">{{price.price_specie}} :</h3>
        <p class="mt-3 ml-3">ราคาต่ำสุด / กก. : {{price.price_min}} <span id="price_min"></span> บาท</p>
        <p class="mt-3 ml-3">ราคาสูงสุด / กก. : {{ price.price_max }} <span id="price_max"></span>บาท</p>
        {% endfor %}
        <a href="{% url 'shrimpprice' %} "
            class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow mt-5">ดูราคากุ้งย้อนหลังรายวัน</a>
    </div>
    <div class="flex content-center shadow-2xl transition-transform transform hover:scale-110  ">
        <img src="media\extra\img27912.whqc_640x440q80.jpg" alt="" srcset="">
    </div>
</div>
<div class="bg-gray-200">
    <section class="service_section layout_padding b p-4 mx-auto max-w-screen-xl ">
    </section>
</div>


<div class="container mx-auto my-10">
    {% if infor %}
    <div class="mb-4">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-white ml-10">ประชาสัมพันธ์</h3>
    </div>
    <div class="w-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for information in infor %}
        <div
            class="col-span-1 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto my-10">
            {% if information.information_image %}
            <img class="rounded-t-lg object-contain h-48 w-full" src="{{ information.information_image.url }}"
                alt="{{ information.information_name }} Image">
            {% else %}
            <div class="h-48 w-full bg-gray-200 rounded-t-lg flex items-center justify-center">
                <p class="text-gray-500">No image available</p>
            </div>
            {% endif %}
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ information.information_name }}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ information.information_description }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container mx-auto my-10">
    {% if species %}
    <div class="mb-4">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-white ml-10">พันธ์กุ้ง</h3>
    </div>
    <div class="w-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for specie in species %}
        <div
            class="col-span-1 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto my-10">
            {% if specie.image %}
            <img class="rounded-t-lg object-contain h-48 w-full" src="{{ specie.image.url }}"
                alt="{{ specie.name }} Image">
            {% else %}
            <div class="h-48 w-full bg-gray-200 rounded-t-lg flex items-center justify-center">
                <p class="text-gray-500">No image available</p>
            </div>
            {% endif %}
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ specie.name }}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ specie.description }}</p>
                
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>



<div class="container mx-auto my-10">
    {% if food %}
    <div class="mb-4">
        <h3 class="text-3xl font-bold text-gray-800 dark:text-white ml-10">อาหารกุ้ง</h3>
    </div>
    <div class="w-50 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for foods in food %}
        <div class="col-span-1 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto my-10">
            {% if foods.food_image %}
            <img class="rounded-t-lg object-contain h-48 w-full" src="{{ foods.food_image.url }}" alt="Foods Image">
            {% else %}
            <div class="h-48 w-full bg-gray-200 rounded-t-lg flex items-center justify-center">
                <p class="text-gray-500">No food image available</p>
            </div>
            {% endif %}
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ foods.food_name }}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ foods.food_description }}</p>
            
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container mx-auto my-10 ">
    {% if disease %}
        <div class="mb-4">
            <h3 class="text-3xl font-bold text-gray-800 dark:text-white ml-10">โรคกุ้ง</h3>
        </div>
        <div class="flex flex-wrap justify-start gap-4  ">
            {% for diseases in disease %}
                <div class="flex flex-col md:flex-row bg-white border border-gray-200 mx-auto  rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-full md:w-auto my-10">
                    {% if diseases.disease_image %}
                        <div class="flex content-center shadow-2xl  ">
                            <img src="{{ diseases.disease_image.url }}" alt="" srcset="">
                        </div>
                        <!-- <img class="rounded-t-lg object-contain h-48 w-full md:w-48 md:h-auto" src="{{ diseases.disease_image.url }}" alt="Foods Image"> -->
                    {% else %}
                        <div class="h-48 w-full md:w-48 md:h-auto bg-gray-200 rounded-t-lg flex items-center justify-center">
                            <p class="text-gray-500">No food image available</p>
                        </div>
                    {% endif %}
                    <div class="p-5 flex-1">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ diseases.disease_name }}</h5>
                        <h3 class="mb-2  ml-7 text-xl font-bold tracking-tight text-gray-900 dark:text-white">อาการของกุ้ง</h3>
                        <p class="mb-3 ml-10 font-normal text-gray-700 dark:text-gray-400">{{ diseases.disease_symptom }}</p>
                        <h3 class="mb-2 ml-7 text-xl font-bold tracking-tight text-gray-900 dark:text-white">สาเหตุ:</h3>
                        <p class="mb-3 ml-10 font-normal text-gray-700 dark:text-gray-400">{{ diseases.disease_cause }}</p>
                        <h3 class="mb-2  ml-7 text-xl font-bold tracking-tight text-gray-900 dark:text-white">การป้องกัน</h3>
                        <p class="mb-3 ml-10 font-normal text-gray-700 dark:text-gray-400">{{ diseases.disease_prevent }}</p>
                        <h3 class="mb-2 ml-7 text-xl font-bold tracking-tight text-gray-900 dark:text-white">การรักษา</h3>
                        <p class="mb-3 ml-10 font-normal text-gray-700 dark:text-gray-400">{{ diseases.disease_treat }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock %}