{% extends 'app_general/components/base.html' %}

{% block title %}
พันธ์กุ้ง
{% endblock %}

{% block content %}
<div class="">
    <div class="grid grid-cols-4 gap-4 my-5 max-w-5xl mx-auto">
        {% for speciess in species %}
        <div class="col-span-4 flex gap-4 border-black rounded-md shadow-lg max-w-5xl p-7">
            <div>
                {% if speciess.image %}
                <img src="{{ speciess.image.url }}" alt="" class="w-72 h-40 rounded">
                {% else %}
                <span>Not Showing</span>
                {% endif %}
            </div>
            <div>
                <p class="text-3xl">{{ speciess.name }}</p>
                <p>รายละเอียด : {{ speciess.description }}</p>
                <p>อาหารของกุ้ง : {{ speciess.specie_food }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}