{% extends 'app_general/components/base.html' %}

{% block title %}
    เข้าสู่ระบบ
{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-2xl mb-4">เข้าสู่ระบบ</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    เข้าสู่ระบบ
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
