{% extends 'app_general/components/base.html' %}

{% block title %}
    เข้าสู่ระบบ
{% endblock %}

{% block content %}
<div class="flex justify-center items-center h-screen bg-scroll" style="background-image: url(https://static.vecteezy.com/system/resources/previews/002/511/320/original/hand-drawn-seafood-seamless-pattern-shrimp-background-sketch-style-prawn-illustration-texture-for-healthy-food-seamless-pattern-for-kitchen-for-printing-on-summer-textiles-and-phone-case-vector.jpg)">
    <div class="bg-white shadow-md rounded-t-xl px-8 pt-6 pb-8 mb-4 border-indigo-400 border-2">
        <h2 class="text-2xl mb-4">เข้าสู่ระบบ</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br> 
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl focus:outline-none focus:shadow-outline">
                    เข้าสู่ระบบ
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}