<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <header class="bg-gray-200 p-4">
        <a href="{% url 'dashboard' %}" class="text-lg font-semibold">Shrimp48</a>
        <a href="{% url 'dashboard' %}" class="ml-4">หน้าแรก</a>
        <a href="{% url 'logout' %}" class="mx-2 bg-blue-500 text-white px-4 py-2 rounded shadow-md">Logout</a>
    </header>
    <div class="flex bg-white-900">
        <!-- Sidebar -->
        <div class="flex bg-gray-800 ">
            <!-- Sidebar content -->
            <div class="p-4 text-white h-screen">
                <h2 class="text-xl font-bold mb-4">Admin Dashboard</h2>
                <nav class="">
                    <h3 class="mb-5 ml-4 mt-10 text-sm font-medium text-bodydark2">Menu</h3>
                    <ul class="mb-6 flex flex-col gap-1.5">
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'dashboard' %}" class="block text-white">Dashboard</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'user' %}" class="block text-white">Users</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'shrimpSpecies' %}" class="block text-white">Shrimp Species</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'shrimpFoods' %}" class="block text-white">Shrimp Foods</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'shrimpDiseases' %}" class="block text-white">Shrimp Diseases</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'shrimpprice.ad' %}" class="block text-white">Shrimp Price</a>
                        </li>
                        <li class="px-4 py-2 ml-10 hover:bg-gray-700 sidebar-link">
                            <a href="{% url 'shrimppond' %}" class="block text-white">Shrimp Ponds</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <!-- Main content -->
        <div class="flex-1 p-10">
            <!-- Your main content here -->
            {% block content %} {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/a7046885ac.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-btn');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the default link behavior
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Delete Successfully",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            setTimeout(() => {
                                // Redirect to the delete URL when confirmed
                                window.location.href = button.querySelector('a').href;
                            }, 1000);
                        }
                    });
                });
            });
        });
    </script>

</body>

</html>