{% extends 'app_general/components/base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <form method="post" action="" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="pond_name" class="block text-gray-700 font-bold mb-2">ตั้งชื่อบ่อกุ้ง ที่จะเพิ่ม</label>
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
             " id="pond_name" name="pond_name" required>
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create</button>
    </form>
</div>
{% endblock %}
