{% extends 'app_general/components/base.html' %}

{% block title %} ราคากุ้ง {% endblock %}

{% block content %}

<form action="{% url 'price_view' %}" method="GET">
    <label for="calendar">Select Date:</label>
    <input type="date" id="calendar" name="calendar" value="{{ selected_date }}">
    <br><br>
    <input type="submit" value="Submit">
</form>
    <h2>Shrimp Price</h2>
        
        {% if data %}
            <p>Price for {{ data.date }}:</p>
            <p>{{ data.price }}</p>
        {% else %}
            <p>No data available for the selected date.</p>
        {% endif %}

        <a href="{% url 'price_view' %}">Back to form</a>
{% endblock %}
