{% extends 'app_general/components/base.html' %}

{% block title %}Edit User Profile{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto p-6">
    <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Edit User Profile</h1>
    
    <!-- {% if messages %}
        {% for message in messages %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %} -->
    
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-6">
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="first_name" class="block text-sm font-medium text-gray-700 mb-2">First Name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" 
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                       dark:focus:border-blue-500"  required />
                </div>
                <div>
                    <label for="last_name" class="block text-sm font-medium text-gray-700 mb-2">Last Name</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                      dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                       dark:focus:border-blue-500"  required />
                </div>
                <div>
                    <label for="image" class="block text-sm font-medium text-gray-700 mb-2">Profile Image</label>
                    <input type="file" name="image" id="image" class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100">
                </div>
                {% if user.image %}
                    <div>
                        <img src="{{ user.image.url }}" alt="Current Profile Picture" class="w-32 h-32 rounded-full mx-auto">
                    </div>
                {% endif %}
                <div>
                    <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Update Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}