{% extends 'app_general/components/base.html' %}

{% block title %}
    {{shrimp.title}}
{% endblock %}

{% block content %}
    {% if shrimp is not None %}
       <div>
            <h3>{{shrimp.title}}</h3>
            <p>{{shrimp.Price|floatformat:'g'}} บาท/KG</p>
            {% if shrimptype.is_pop %}
            <p>*** ยอดนิยมในตลาด</p>
            {% endif %}
            <p>ยอดนิยมถึงวันที่ {{shrimp.pop_end_at|date:'j N Y'}}</p>
            <p name = 'description'>กุ้งขาว </p>
       </div>
    {% else %}
        ไม่พบกุ้งตัวนี้
    {% endif %}
{% endblock %}

