{% extends 'app_general/components/base.html' %}

{% block title %}
    พันธ์กุ้ง
{% endblock %}

{% block content %}

<div>
    <a href="">{{df}}</a>
    <h1>ข้อมูลพันธ์กุ้ง</h1>
    {% for shrimptype in shrimptypes %}
        <h3><a href="{% url 'shrimp' shrimptype.id %}">{{ shrimptype.title }}</a></h3>
        <p name = 'description'></p>
        <p>{{ shrimptype.Price|floatformat:'g' }} บาท/KG</p>
        {% if shrimptype.is_pop %}
            <p>*** ยอดนิยมในตลาด</p>
        {% endif %}
        <p>ยอดนิยมถึงวันที่ {{shrimptype.pop_end_at|date:'j N Y'}}</p>
    {% empty %}
        <p>ไม่มีข้อมูลในตอนนี้</p>
    {% endfor %}
</div>
{{dbShrimp}}
{% endblock %}
