<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShrimpType</title>
</head>
<body>
    <header style="background-color: lightgray;">
        <a href="">Shrimp48</a>
        <a  href="">หน้าแรก</a>
        <a  href="">พันธ์กุ้ง</a>
        <a  href="">โรคกุ้ง</a>
        <a  href="">อาหารกุ้ง</a>
        <a  href="">วิธีการใช้งาน</a>
        <a  href="">บริการของเรา</a>
        <a  href="">คำถามที่พบบ่อย</a>
    </header>
    <div>
        <h3>พันธ์กุ้ง {{shrimp_id}}</h3>
    </div>
    <div>
        <h1>ข้อมูลพันธ์กุ้ง</h1>
    </div>
    <footer style="background-color: lightgray;">
        <p>
            <a href="">วิธีการใช้งาน</a>
            <a href="">เกี่ยวกับเรา</a>
            <a href="">บริการ</a>
            <a href="">คำถามที่พบบ่อย</a>
            <a href="">ติดต่อเรา</a>
        </p>

        <p>Copyright © 2023 IT48 All rights reserved.</p>
    </footer>
</body>
</html>