{% extends 'customadmin/components/site_header.html' %}

{% block title %} Add Foods{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h1 class="text-3xl font-bold mb-6 text-blue-500">เพิ่มอาหารกุ้ง</h1>
        <nav>
            <ol class="flex text-right gap-2">
                <li>
                    <a href="{% url 'dashboard' %}" class="font-medium">หน้าหลัก /</a>
                </li>
                <li>
                    <a href="{% url 'shrimpFoods' %}" class="font-medium">อาหารกุ้ง /</a>
                </li>
                <li>
                    <a href="{% url 'add_shrimpfood'%}" class="font-medium text-blue-500">เพิ่มอาหารกุ้ง</a>
                </li>
            </ol>
        </nav>
    </div>

<form method="post" class="space-y-6"enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="hidden" name="userid" value="{{ request.user.id }}">
    <div class="mb-6">
        <label class="block text-gray-700">ชื่ออาหาร</label>
        <input type="text" name="food_name" required
            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full py-2 px-3">
    </div>
    <div class="mb-6">
        <label class="block text-gray-700">รายละเอียด</label>
        <textarea name="food_description" id="" cols="30" rows="6" required
            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full py-2 px-3"></textarea>
    </div>
    <div class="mb-6">
        <label class="block text-gray-700">รูปอาหารกุ้ง</label>
        <input type="file" name="food_image"
            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full py-2 px-3">
    </div>
    <input type="checkbox" name="allow_show" class="" value="1"> แสดงหน้าเว็ปไซต์ด้วยหรือไม่?<br>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">เพิ่มข้อมูล</button>
</form>

{% endblock %}