{% extends 'customadmin/components/site_header.html' %}

{% block title %} Edit Foods {% endblock %}

{% block content %}
<div class="mb-4">
    <h1 class="mb-4">Edit Foods</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{ request.user.id }}">
        <div class="mb-4">
            <label for="food_name" class="block mb-2">Foods Name:</label>
            <input type="text" id="food_name" name="food_name" value="{{ foods.food_name }}" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <div class="mb-4">
            <label for="food_description" class="block mb-2">Foods Description:</label>
            <input type="text" id="food_description" name="food_description" value="{{ foods.food_description }}" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <div class="mb-4">
            {% if foods.food_image %}
                <img src="{{ foods.food_image.url }}" alt="Food Image" style="max-width: 200px; max-height: 200px;" class="mb-2">
            {% else %}
                <p>No image available</p>
            {% endif %}
            <label for="food_image" class="block mb-2">Foods Image:</label>
            <input type="file" id="food_image" name="food_image" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>
    </form>
</div>
{% endblock %}
