{% extends 'customadmin/components/site_header.html' %}

{% block title %} Edit Species {% endblock %}

{% block content %}
<div class="mb-4">
    <h1 class="mb-4">Edit Species</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{ request.user.id }}">
        <div class="mb-4">
            <label for="name" class="block mb-2">Species Name:</label>
            <input type="text" id="name" name="name" value="{{ species.name }}" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <div class="mb-4">
            <label for="description" class="block mb-2">Species Description:</label>
            <input type="text" id="description" name="description" value="{{ species.description }}" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <div class="mb-4">
            <label for="specie_food" class="block mb-2">Species Food:</label>
            <input type="text" id="specie_food" name="specie_food" value="{{ species.specie_food }}" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        {% if species.image %}
            <img src="{{ species.image.url }}" alt="species image" style="max-width: 200px; max-height: 200px;" class="mb-2">
        {% else %}
            <p>No image available</p>
        {% endif %}
        <div class="mb-4">
            <label for="image" class="block mb-2">Species Image:</label>
            <input type="file" id="image" name="image" class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save Changes</button>
    </form>
</div>
{% endblock %}
