{% extends 'customadmin/components/site_header.html' %}

{% block title %} Add Users{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h1 class="text-3xl font-bold mb-6 text-blue-500">แก้ไขผู้ใช้งาน</h1>
        <nav>
            <ol class="flex text-right gap-2">
                <li>
                    <a href="{% url 'dashboard' %}" class="font-medium">หน้าหลัก /</a>
                </li>
                <li>
                    <a href="{% url 'user' %}" class="font-medium">ผู้ใช้ /</a>
                </li>
                <li>
                    <a href="{% url 'edit_user' user.id %}" class="font-medium text-blue-500">แก้ไขผู้ใช้งาน</a>
                </li>
            </ol>
        </nav>
    </div>
    <form method="post" class="space-y-6" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="grid grid-cols-1 gap-9 sm:grid-cols-2">
                <div class="flex flex-col gap-9">
                    <input type="hidden" name="userid" value="{{ request.user.id }}">
                    <div class="mb-6">
                        <label class="block text-gray-700">ชื่อจริง</label>
                        <input type="text" name="first_name" value="{{ users.first_name }}"
                            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full py-2 px-3">
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700">นามสกุล</label>
                        <input type="text" name="last_name" value="{{ users.last_name }}"
                            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full py-2 px-3">
                    </div>

                    <div class="mb-6">
                        {% if users.image %}
                        <img src="{{ users.image.url }}" alt="user Image" style="max-width: 200px; max-height: 200px;"
                            class="mb-2">
                        {% else %}
                        <p>ไม่มีรูปแสดง</p>
                        {% endif %}
                        <label class="block text-gray-700">รูปโปรไฟล์</label>
                        <input type="file" id="image" name="image"
                            class="border border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 rounded-md w-full px-4 py-2">
                    </div>
                </div>
            </div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">บันทึกและแก้ไข</button>
    </form>
</div>

{% endblock %}