{% extends 'customadmin/components/site_header.html' %}

{% block title %} Add Users {% endblock %}

{% block content %}
<div class="mb-4 w-full">
    <div class="flex justify-between items-center mb-4">
        <div>
            <input type="text" id="searchInput" placeholder="Search..." class="px-4 py-2 border rounded-md">
        </div>
        <div>
            <a href="{% url 'add_shrimpSpecies' %}"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">เพิ่มพันธุ์กุ้ง</a>
        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">สถานะ</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">ชื่อพันธุ์กุ้ง</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">อาหาร
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">รายละเอียด
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase object-cover h-48 w-48">รูปพันธ์ุกุ้ง</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">การแก้ไข</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">ลบข้อมูล</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
                {% for specie in species %}
                <tr>
                    {% if specie.allow_show is none %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p>ไม่ได้แสดงหน้าเว็ปไซต์</p>
                            </td>
                        {% else %}
                            <td class="px-6 py-4 whitespace-nowrap">กำลังแสดงอยู่ในหน้าเว็ปไซต์</td>
                        {% endif %}
                    <td class="px-6 py-4">{{ specie.name }}</td>
                    <td class="px-6 py-4">{{ specie.specie_food }}</td>
                    <td class="px-6 py-4">{{ specie.description }}</td>
                    <td class="px-6 py-4">
                        {% if specie.image %}
                        <img src="{{ specie.image.url }}" alt="Specie Image" class="object-fill">
                        {% else %}
                        <span>ยังไม่มีรูป</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        <button class="text-blue-500 hover:text-blue-700"><a
                                href="{% url 'edit_shrimpSpecies' specie.id %}">แก้ไข</a></button>
                    </td>
                    <td class="px-6 py-4">
                        <button class="text-red-500 hover:text-red-700 ml-2 delete-btn delete-btn"><a
                                href="{% url 'delete_species' specie.id %}">ลบข้อมูล</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}