{% extends 'customadmin/components/site_header.html' %}

{% block title %} Add Diseases {% endblock %}

{% block content %}
<div class="mb-4 w-full">
    <div class="flex justify-between items-center mb-4">
        <input type="text" id="searchInput" placeholder="Search..." class="px-4 py-2 border rounded-md">
        <a href="{% url 'add_shrimpdisease' %}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">เพิ่มโรคกุ้ง</a>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">สถานะ
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">ชื่อโรคกุ้ง</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">อาการ</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">สาเหตุ</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">การป้องกัน
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">การรักษา
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase object-cover h-48 w-48">
                        รูป</th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">การแก้ไข</th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ลบข้อมูล
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">

                <tr>
                    {% for disease in diseases %}
                        {% if diseases.allow_show is none %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                <p>ไม่ได้แสดงหน้าเว็ปไซต์</p>
                            </td>
                    {% else %}
                            <td class="px-6 py-4 whitespace-nowrap">กำลังแสดงอยู่ในหน้าเว็ปไซต์</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ disease.disease_name }}</td>
                    <td class="px-6 py-4">{{ disease.disease_symptom }}</td>
                    <td class="px-6 py-4">{{ disease.disease_cause }}</td>
                    <td class="px-6 py-4">{{ disease.disease_prevent }}</td>
                    <td class="px-6 py-4">{{ disease.disease_treat }}</td>
                    <td class="px-6 py-4">
                        {% if disease.disease_image %}
                        <img src="{{ disease.disease_image.url }}" alt="">
                        {% else %}
                        <span>ไม่มีรูปแสดง</span>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4">
                        <button class="text-blue-500 hover:text-blue-700"><a
                                href="{% url 'edit_shrimpDisease' disease.id %}">แก้ไข</a></button>
                    </td>
                    <td class="px-6 py-4">
                        <button class="text-red-500 hover:text-red-700 ml-2 delete-btn"><a
                                href="{% url 'delete_shrimpDisease' disease.id %}">ลบข้อมูล</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}